body {
    font-family: "Lucida Console", monospace;
}

.gif-with-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto
}

.gif {
    width: 100%
}

.caption {
    margin-top: 5px
}