:root {
    --primary-color: #f7f0dc;
    --background-color: #2400fd;

    --hover-color: #fff;
    --selection-background: #3060fc;

    font-family: 'IBM Plex Mono', sans-serif;
    font-style: italic;
    font-size: 1.5em;
}

html {
    color: var(--primary-color);
    background-color: var(--background-color);
}

/* primary grid */
body {
    display: grid;
    grid-template-columns: minmax(min-content, 30%) 1fr;
    overflow: hidden;
    height: 100vh;
    transform: skew(2deg, 8deg);
    padding-top: 100px;
    /* margin-top: 600px; */
}

/* side bar */
header {
    padding: 0 1em 2em 1em;
    border-right: 2px solid var(--primary-color);
}

h1 {
    margin-bottom: 0;
    font-style: normal;
}

main {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: minmax(min-content, 30%) 1fr;

    /* margin-top: 80px; */
    /* transform: skew(2deg, 8deg); */
}

main::-webkit-scrollbar {
    display: none;
}

section {
    padding: 1.5em;
}

h3 {
    margin: 0;
    font-style: normal;
    text-decoration: underline;
}

h4 {
    font-weight: normal;
    font-style: italic;
    margin-top: .25em;
}

p {
    line-height: 150%;
    font-style: italic;

}

/* image gallery */
img {
    width: 100%;
}

figure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    align-content: start;
}

/* this allows a grid row to span all columns regardless of # of columns
  https://stackoverflow.com/a/47320149  */
figure img:first-of-type {
    grid-column: 1 / -1;
}

/* switch to 2 column gallery */
@media (max-width: 1300px) {
    figure {
        grid-template-columns: 1fr 1fr;
    }
}

/* switch to single column */
@media (max-width: 788px) {

    body,
    main {
        grid-template-columns: 1fr;
    }

    header {
        border-right: 0;
        border-bottom: 1px solid var(--primary-color);
    }

    nav {
        position: inherit;
    }

    /* Single column image gallery */
    figure {
        grid-template-columns: 1fr;
    }
}

::selection {
    color: var(--hover-color);
    background: var(--selection-background);
}

a {
    color: #f7f0dc;
    text-decoration: none;
    font-style: normal;
}

a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}